<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hello,</p>

    <p>Your <%= @number %> tickets are attached in seperate files. You will be asked to show them on paper or screen at the door.</p>

    <p>The venue location will be emailed to this address 24 hours before the event.</p>

    <p>
      To maximize fun for all, plz b cool:
      <li> Respect the people and the space. </li>
      <li> Whatever you do, don't do too much of it. </li>
    </p>

    <p>Questions? Comments? Concerns? Don't hesitate to contact us by replying to this email.</p>

    <p>Party Time!</p>

    <p> T R Y S T /- QUEER IN A/V</p>

  </body>
</html>