<!DOCTYPE html>
<html>
<head>
  <title>Promo</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <script src="https://checkout.stripe.com/checkout.js"></script>
</head>
<body>



  <div class="container">
    <div class="sixteen columns top">
      <h1>T R Y S T</h1>
    </div>
  </div>
  <div class="container">
      <div class="twelve columns alpha">
        <iframe src="//player.vimeo.com/video/87688245?title=0&amp;byline=0&amp;portrait=0&amp;" width="950" height="550" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
      <div class="four columns pink alpha">
        <p>EXPERIENCE QUEER IN A/V</p>
        <p>/-</p>
        <p>APRIL 5, 2014</p>
        <p>23:00 - LATE</p>
        <p>LOCATION TBA</p>
        <p>/-</p>
        <p>FREE BEER BEFORE 1 AM</p>
        <p>/-</p>
        <p>$8 - FIRST 20 PRESALE</p>
        <p>$10 - NEXT 30 PRESALE</p>
        <p>$13 - AT THE DOOR</p>
        <p>/-</p>

        <%= yield %>

      </div>
  </div>

  <div class="container">
    <div class="sixteen columns bottom top">
      <p>QUESTIONS / COMMENTS / CONCERNS / NEED A COMP TICKET? CONTACT TRYSTMTL [AT] GMAIL</p>
    </div>
  </div>

</body>
</html>


