<!DOCTYPE html>
<html>
<head>
  <title>Promo</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <script src="https://checkout.stripe.com/checkout.js"></script>
</head>
<body>



  <div class="container">
    <div class="sixteen columns top">
      <h1>T R Y S T</h1>
    </div>
  </div>
  <div class="container">
      <div class="twelve columns alpha">
        <iframe src="//player.vimeo.com/video/87688245?title=0&amp;byline=0&amp;portrait=0&amp;" width="750" height="450" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
      <div class="four columns pink alpha">
        <p><b>T R Y S T</b></p>
        <p>EXPERIENCE QUEER IN A/V</p>
        <p>/-</p>
        <p>04.05.14</p>
        <p>23:00-LATE</p>
        <p>LOCATION TBA</p>
        <p>/-</p>
        <p>LIMITED PRESALE $10</p>
        <p>FREE BEER BEFORE 1</p>

        <%= yield %>

      </div>
  </div>

  <div class="container">
    <div class="sixteen columns bottom top">
      <p>QUESTIONS / COMMENTS / CONCERNS / NEED A COMP ? CONTACT EMAIL</p>
    </div>
  </div>

</body>
</html>


